definitions:
  models.CookBook:
    properties:
      created_at:
        type: string
      description:
        type: string
      id:
        type: integer
      image:
        type: string
      is_deleted:
        description: 0 删除 1 使用中 2 归档中
        type: integer
      name:
        type: string
      price:
        type: number
      updated_at:
        type: string
    type: object
  models.ParkRecord:
    properties:
      created_at:
        type: string
      id:
        type: integer
      in_time:
        type: string
      is_deleted:
        description: 0 删除 1 使用中 2 归档中
        type: integer
      out_time:
        type: string
      plate_number_id:
        type: integer
      updated_at:
        type: string
    type: object
  models.User:
    properties:
      avatar:
        type: string
      created_at:
        type: string
      department_id:
        type: integer
      department_name:
        type: string
      email:
        type: string
      employ_date:
        type: string
      id:
        type: integer
      is_deleted:
        description: 0 删除 1 使用中 2 归档中
        type: integer
      mobile:
        type: string
      name:
        type: string
      nick_name:
        type: string
      position_id:
        type: integer
      position_name:
        type: string
      resign_date:
        type: string
      updated_at:
        type: string
    type: object
  request.Login:
    properties:
      email:
        example: sutter.wu@itforce-tech.com
        type: string
      password:
        example: 1234@Abcd
        type: string
    required:
    - email
    - password
    type: object
  request.Register:
    properties:
      avatar:
        example: ""
        type: string
      department_id:
        example: 1
        type: integer
      email:
        example: sutter.wu@itforce-tech.com
        type: string
      employ_date:
        example: "2025-09-05"
        type: string
      mobile:
        example: "13557080956"
        type: string
      name:
        example: Sutter
        type: string
      nick_name:
        example: Sutter
        type: string
      password:
        example: 1234@Abcd
        type: string
      position_id:
        example: 1
        type: integer
    required:
    - email
    - name
    - password
    type: object
  response.Response:
    properties:
      code:
        description: 业务码
        type: integer
      data:
        description: 数据
      msg:
        description: 提示消息
        type: string
    type: object
host: 127.0.0.1:9527
info:
  contact:
    email: wu_yiqiang@outlook.com
    name: sutter
  description: 基于Golang Gin框架的EAMS系统
  termsOfService: https://github.com/18211167516/Go-Gin-Api
  title: 基于Golang Gin框架的EAMS系统
  version: "1.0"
paths:
  /cookbook/menus:
    post:
      consumes:
      - application/json
      description: 今日菜单
      operationId: /cookbook/menus
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.CookBook'
              type: object
      summary: 今日菜单
      tags:
      - 热门服务
  /park/count:
    post:
      consumes:
      - application/json
      description: 车位详情
      operationId: /park/count
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.CookBook'
              type: object
      summary: 车位详情
      tags:
      - 热门服务
  /park/enter/{plateNumber}:
    post:
      consumes:
      - application/json
      description: 入园记录
      operationId: /park/enter
      parameters:
      - description: plateNumber
        in: path
        name: plateNumber
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.ParkRecord'
              type: object
      summary: 入园记录
      tags:
      - 热门服务
  /park/exit/{plateNumber}:
    post:
      consumes:
      - application/json
      description: 出园记录
      operationId: /park/exit
      parameters:
      - description: plateNumber
        in: path
        name: plateNumber
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.ParkRecord'
              type: object
      summary: 出园记录
      tags:
      - 热门服务
  /user/{id}:
    delete:
      consumes:
      - application/json
      description: 用户删除
      operationId: /user/{id}
      parameters:
      - description: id
        in: path
        name: id
        type: integer
      produces:
      - application/json
      responses: {}
      summary: 用户删除
      tags:
      - 用户管理
  /user/login:
    post:
      consumes:
      - application/json
      description: 用户登陆
      operationId: /user/login
      parameters:
      - description: body
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/request.Login'
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.User'
              type: object
      summary: 用户登陆
      tags:
      - 用户管理
  /user/register:
    post:
      consumes:
      - application/json
      description: 用户注册
      operationId: /user/register
      parameters:
      - description: body
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/request.Register'
      produces:
      - application/json
      responses:
        "200":
          description: success
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/models.User'
              type: object
      summary: 用户注册
      tags:
      - 用户管理
securityDefinitions:
  Auth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
